
gemini_api_key= # Enter your gemini api key

# Seo Agent

apify_API_key = #your apify api key
GSC_SITE_URL= #your gsc api key
GA4_PROPERTY_ID= #your ga4 apikey
BING_API_KEY= #your bing api key
DEVTO_API_KEY= #Enter your devto api key
HASHNODE_API_KEY= #enter your hashnode api key

TRAFFIC_DROP_PERCENT=25
RANK_DROP_POSITIONS=3

# Social Agent

OPENAI_API_KEY= #Enter your OpenAI API Key

ACCOUNT_NAME_1= #Enter you account name
INSTAGRAM_TOKEN_1= #Enter you token
INSTAGRAM_ID_1= #Enter you insta id
INSTAGRAM_USERNAME_1= #Enter you username
INSTAGRAM_PASSWORD_1= #Enter you password


ADMIN_USERNAME=...
ADMIN_PASSWORD=....
